<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShareBlackboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>460F3B4F1D56F40C00CFD177</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>460F3B631D56F40C00CFD177</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>460F3B6E1D56F40C00CFD177</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
